<div class="card">
    <p-splitter [style]="{ height: '100%' }" styleClass="mb-8" layout="nested">
      <ng-template pTemplate>
        <div class="frase">
          <p>“Domina el cielo con cada maniobra: mantén la calma, ajusta tu rumbo y conviértete en maestro de tu dron.”</p>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="panel2">
          <img src="assets/images/bg_mountain.jpg" alt="Drone en montaña" />
        </div>
      </ng-template>
    </p-splitter>
  </div>
  