/* GLOBAL STYLES */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

main{
  margin-top: 57px;
  margin-bottom: 24px;
}

/*  HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

/* FOOTER */
.footer {
  background-color: #092856;
  text-align: center;
  position: fixed;
  width: 99.2%;
  bottom: 0;
}

.footer p {
  font-size: 15px;
  color: #fff;
}
  