<home-splitter></home-splitter>
<div id="Biografia">
    <img src="assets/images/drone-control.jpg" alt="Control de drones"/>
    <h2>DroneTech - Quiénes somos</h2>
    <h4>Innovación. Precisión. Tecnología.</h4>
    <p>
        En DroneTech, nos especializamos en el diseño, desarrollo y control de drones personalizados desde 2025. 
        Nuestra misión es impulsar la innovación tecnológica en sistemas aéreos no tripulados, ofreciendo soluciones tanto para uso profesional como recreativo. 
        Nos apasiona crear movimientos precisos y seguros, y cada proyecto refleja nuestro compromiso con la calidad y la ingeniería avanzada. 
        Explora nuestra plataforma y descubre cómo llevamos el control de drones al siguiente nivel.
    </p>
</div>

<iframe id="Mapa"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.2633612833665!2d-4.640871258977887!3d36.59596567242138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72e3fb3bf3ceff%3A0x45e8fec2847d8806!2zQy4gTcOhbGFnYSwgMjk2NTAgTWlqYXMsIE3DoWxhZ2E!5e0!3m2!1ses-419!2ses!4v1701073573396!5m2!1ses-419!2ses" title="Mijas Map"></iframe>