.box-table {
    max-width: 100%;
    margin:  auto;
    padding: 0.3rem;
    border: rgb(11, 27, 135) 0.5px solid;
    border-radius: 1rem;
  }

.card {
padding: 0.3rem;
}

:host ::ng-deep .dark-blue-button.p-button {
  background-color: rgb(11, 27, 135);
  border-color:     rgb(11, 27, 135);
  color:            #fff;
}

:host ::ng-deep .dark-blue-button.p-button:hover,
:host ::ng-deep .dark-blue-button.p-button:focus {
  background-color: rgb(10, 23, 117);
  border-color:     rgb(10, 23, 117);
}

  